.search-input {
    width: 200px;
    padding: 7px 10px; 
    border: 2px solid gray;
    border-radius: 7px;
    position: fixed;
}

.nothing {
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    color: gray;

}

.list {
    margin-top: 130px;
    margin-bottom: 50px;
}